.container {
  max-width: 900px !important;
}

.header {
  padding: 20px 0;
  text-align: center;
}

.padded {
  margin-right: 1rem;
}

.experience-row {
  margin-bottom: 3rem;
}
p.experience, p.experience-title {
  margin-bottom: 0rem;
}
p.experience {
  margin-top: 1rem;
}
.centered {
  text-align: center;
}

ul {
  margin-top: 1rem;
  margin-bottom: 0rem;
  margin-left: 1rem;
  list-style: circle outside;
}
li {
  margin-bottom: 0rem;
}

.title, h4, .contact {
  color: #45b0a5;
}
a {
  color: #45b0a5;
}

h4 {
  margin-bottom: 0.5em;
}
