.container {
  max-width: 700px !important;
}

.header {
  padding: 20px 0;
  text-align: center;
}

.experience-row {
  margin-bottom: 3rem;
}
p.experience, p.experience-title {
  margin-bottom: 0rem;
}
p.experience {
  margin-top: 1rem;
}

ul {
  margin-top: 1rem;
  margin-bottom: 0rem;
  margin-left: 3rem;
}
li {
  margin-bottom: 0rem;
}