<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- skeleton CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="twelve columns header">
          <h1 class="title">Ben Gibbs</h1>
          Ruby Developer, CTO
          <br>
          <div class="contact">
            <a href="tel:+447811197374">+44 7811 197374</a> |
            <a href="mailto:ben@bobop.co.uk">ben@bobop.co.uk</a> |
            <a href="https://www.linkedin.com/in/benjgibbs">LinkedIn</a> |
            <a href="https://github.com/bobop">Github</a> |
            <a href="mailto:ben@bobop.co.uk">@bobop</a>
          </div>
        </div>
      </div>
 
      {{ content }}

    </div> <!-- /container -->
  </body>
</html>
